@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

@layer base {
  @import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
  :root {
    --primary-dark: #39b2ad;
    --primary-light: #287d7d;
    --secondary-dark: #ff697d;
    --secondary-light: #b34a61;
    --background-dark: #121212;
    --surface-dark: #282828;
    --navbar-dark: #575757;
    --border-dark: #3f3f3f;
    --modal-dark: #717171;
    --bgText-dark: #8b8b8b;
    --text-dark: #f8f9fa;
  }

  body {
    background-color: var(--background-dark);
    overflow-x: hidden;
    font-family: "Lato", sans-serif;
    color: var(--text-dark);
  }
  .registerBox, .loginBox {
    background: rgba(58, 57, 57, 0.25);
    box-shadow: 0 8px 32px 0 rgba(57, 178, 173, 0.37); 
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
  }

  .inputContainer:hover .inputBox,
  .inputContainer:hover {
    background-color: var(--navbar-dark);
  }
}
